.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rproj.user/
posts/2020-08-12-advi-vs-mcmc/fitmcmc.RDS
_posts/2020-08-12-advi-vs-mcmc/fitmcmc.RDS
posts/2020-08-12-advi-vs-mcmc/fitvb.RDS
_posts/2020-08-12-advi-vs-mcmc/fitvb.RDS
posts/2020-08-12-advi-vs-mcmc/pdata.RDS
_posts/2020-08-12-advi-vs-mcmc/pdata.RDS
posts/2020-08-12-advi-vs-mcmc/postfire.csv
_posts/2020-08-12-advi-vs-mcmc/postfire.csv

